<!DOCTYPE html>
<html lang="fr">
<head>
	{#<link rel="stylesheet" href="/static/css/style.css"> #}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
	<title>{% block title %}Accueil du site{% endblock %}</title>
</head>

<body><header class='head'><h1>{% block header %}Aux tomates et aux saucisses{% endblock %}</h1></header>
	<nav>
		{% block nav %}
		<div class="w3-bar w3-green w3-large">
			<div class="w3-bar-item w3-button w3-mobile"> <a href='/base'> Accueil </a> 		</div>
			<div class="w3-bar-item w3-button w3-mobile"> <a href='/blog/accueil'> Blog </a> 		</div>
			<div class="w3-bar-item w3-button w3-mobile"> <a href='/blog/voir_contacts'> Fiches Contacts </a></div>
			<div class="w3-bar-item w3-button w3-mobile"> <a href='/contact/form'> Contact </a></div>
			<div class="w3-bar-item w3-button w3-mobile"> <a href='/ruban_vert/enreg'> Ruban Vert </a></div>
			<div class="w3-bar-item w3-button w3-mobile"> <a href='/mini_url/liste'> Mini Urls </a></div>
		</div>
		{% endblock %}
	</nav>

	<section class='main' id='content'>
		{% block content %} {% endblock %}
	</section>
	
	<nav class='right'>
	{% block right %}
		
	{% endblock %}
	</nav>

	<footer class='bottom'>
        <script src="/static/js/cours.js"></script>    
        Josselin s'amuse avec Django sur son raspberry
    
    </footer>
	
</body>
</html>